[submodule "ADCore"]
	path = ADCore
	url = git@github.com:areaDetector/ADCore.git
[submodule "ADBinaries"]
	path = ADBinaries
	url = git@github.com:areaDetector/ADBinaries.git
[submodule "ADProsilica"]
	path = ADProsilica
	url = git@github.com:areaDetector/ADProsilica.git
[submodule "ADPilatus"]
	path = ADPilatus
	url = git@github.com:areaDetector/ADPilatus.git
[submodule "ADmarCCD"]
	path = ADmarCCD
	url = git@github.com:areaDetector/ADmarCCD.git
[submodule "ADPerkinElmer"]
	path = ADPerkinElmer
	url = git@github.com:areaDetector/ADPerkinElmer.git
[submodule "ADPvCam"]
	path = ADPvCam
	url = git@github.com:areaDetector/ADPvCam.git
[submodule "ADPixirad"]
	path = ADPixirad
	url = git@github.com:areaDetector/ADPixirad.git
[submodule "ADPointGrey"]
	path = ADPointGrey
	url = git@github.com:areaDetector/ADPointGrey.git
[submodule "ADFireWireWin"]
	path = ADFireWireWin
	url = git@github.com:areaDetector/ADFireWireWin.git
[submodule "ADRoper"]
	path = ADRoper
	url = git@github.com:areaDetector/ADRoper.git
[submodule "ADLightField"]
	path = ADLightField
	url = git@github.com:areaDetector/ADLightField.git
[submodule "ADmar345"]
	path = ADmar345
	url = git@github.com:areaDetector/ADmar345.git
