[submodule "ADAndor"]
	path = ADAndor
	url = https://github.com/areaDetector/ADAndor.git
[submodule "ADAndor3"]
	path = ADAndor3
	url = https://github.com/areaDetector/ADAndor3.git
[submodule "ADCSimDetector"]
	path = ADCSimDetector
	url = https://github.com/areaDetector/ADCSimDetector.git
[submodule "ADCore"]
	path = ADCore
	url = https://github.com/areaDetector/ADCore.git
[submodule "ADDexela"]
	path = ADDexela
	url = https://github.com/areaDetector/ADDexela.git
[submodule "ADFastCCD"]
	path = ADFastCCD
	url = https://github.com/areaDetector/ADFastCCD.git
[submodule "ADLambda"]
	path = ADLambda
	url = https://github.com/areaDetector/ADLambda.git
[submodule "ADLightField"]
	path = ADLightField
	url = https://github.com/areaDetector/ADLightField.git
[submodule "ADMerlin"]
	path = ADMerlin
	url = https://github.com/areaDetector/ADMerlin.git
[submodule "ADMythen"]
	path = ADMythen
	url = https://github.com/areaDetector/ADMythen.git
[submodule "ADPICam"]
	path = ADPICam
	url = https://github.com/areaDetector/ADPICam.git
[submodule "ADPerkinElmer"]
	path = ADPerkinElmer
	url = https://github.com/areaDetector/ADPerkinElmer.git
[submodule "ADPilatus"]
	path = ADPilatus
	url = https://github.com/areaDetector/ADPilatus.git
[submodule "ADPluginEdge"]
	path = ADPluginEdge
	url = https://github.com/areaDetector/ADPluginEdge.git
[submodule "ADPvCam"]
	path = ADPvCam
	url = https://github.com/areaDetector/ADPvCam.git
[submodule "ADSimDetector"]
	path = ADSimDetector
	url = https://github.com/areaDetector/ADSimDetector.git
[submodule "ADSpinnaker"]
	path = ADSpinnaker
	url = https://github.com/areaDetector/ADSpinnaker.git
[submodule "ADSupport"]
	path = ADSupport
	url = https://github.com/areaDetector/ADSupport.git
[submodule "ADTimePix3"]
        path = ADTimePix3
        url = https://github.com/areaDetector/ADTimePix3.git
[submodule "ADURL"]
	path = ADURL
	url = https://github.com/areaDetector/ADURL.git
[submodule "ADViewers"]
	path = ADViewers
	url = https://github.com/areaDetector/ADViewers.git
[submodule "ADmar345"]
	path = ADmar345
	url = https://github.com/areaDetector/ADmar345.git
[submodule "ADmarCCD"]
	path = ADmarCCD
	url = https://github.com/areaDetector/ADmarCCD.git
[submodule "NDDriverStdArrays"]
	path = NDDriverStdArrays
	url = https://github.com/areaDetector/NDDriverStdArrays.git
[submodule "ffmpegServer"]
	path = ffmpegServer
	url = https://github.com/areaDetector/ffmpegServer.git
[submodule "ffmpegViewer"]
	path = ffmpegViewer
	url = https://github.com/areaDetector/ffmpegViewer.git
[submodule "pvaDriver"]
	path = pvaDriver
	url = https://github.com/areaDetector/pvaDriver.git
[submodule "ADEiger"]
	path = ADEiger
	url = https://github.com/areaDetector/ADEiger
[submodule "specsAnalyser"]
	path = specsAnalyser
	url = https://github.com/areaDetector/specsAnalyser.git
[submodule "ADCompVision"]
	path = ADCompVision
	url = https://github.com/areaDetector/ADCompVision
[submodule "ADPluginBar"]
	path = ADPluginBar
	url = https://github.com/areaDetector/ADPluginBar
[submodule "ADAravis"]
	path = ADAravis
	url = https://github.com/areaDetector/ADAravis
[submodule "ADVimba"]
	path = ADVimba
	url = https://github.com/areaDetector/ADVimba
[submodule "ADMMPAD"]
	path = ADMMPAD
	url = https://github.com/areaDetector/ADMMPAD
[submodule "ADGenICam"]
	path = ADGenICam
	url = https://github.com/areaDetector/ADGenICam
[submodule "ADPcoWin"]
	path = ADPcoWin
	url = https://github.com/areaDetector/ADPcoWin
[submodule "ADRIXSCam"]
	path = ADRIXSCam
	url = https://github.com/areaDetector/ADRIXSCam.git
[submodule "ADUVC"]
	path = ADUVC
	url = https://github.com/areaDetector/ADUVC
[submodule "ADPylon"]
	path = ADPylon
	url = https://github.com/areaDetector/ADPylon.git
[submodule "ADEuresys"]
	path = ADEuresys
	url = https://github.com/areaDetector/ADEuresys
[submodule "ADHamamatsuDCAM"]
	path = ADHamamatsuDCAM
	url = https://github.com/areaDetector/ADHamamatsuDCAM.git
[submodule "ADTLBC2"]
	path = ADTLBC2
	url = https://github.com/areaDetector/ADTLBC2.git
