[submodule "ADCore"]
	path = ADCore
	url = git@github.com:areaDetector/ADCore.git
[submodule "ADBinaries"]
	path = ADBinaries
	url = git@github.com:areaDetector/ADBinaries.git
[submodule "ADProsilica"]
	path = ADProsilica
	url = git@github.com:areaDetector/ADProsilica.git
[submodule "ADPilatus"]
	path = ADPilatus
	url = git@github.com:areaDetector/ADPilatus
[submodule "ADmarCCD"]
	path = ADmarCCD
	url = git@github.com:areaDetector/ADmarCCD
